ul {
  font-family: Palatino;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 5rem;
  padding: 0;
  font-size: 40px;
}

li {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgrey;
}

button {
  background-color: lightblue;
  border: 2px solid blue;
  width: 10rem;
}
